{% extends "base.html" %}

{% block content %}
<section class="page-title parallax bg-img-4">
            <div class="page-title-content">
                <div class="container">
                    <div class="col-sm-12 text-center">
                        <h1 class="white-until-load">Kaboong</h1>
                        <hr class="separator">
                        <h5 class="subheading">Obituary Made Simple</h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Page Hero -->

        <!-- About -->
        <section class="pt70 pb70">
            <div class="container">
                <div class="row-flex-center">

                    <div class="col-md-6 text-left pr30 mt40 mb40">
                        <h3>Our Vision</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus.</p>
                        <p>Curabitur pellentesque massa eu nulla consequat sed porttitor arcu porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Integer lorem quam, adipiscing condimentum tristique vel.</p>
                    </div>

                    <div class="col-md-6 text-left pr30 mt40 mb40">
                        <h3>Our Mission</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus. Curabitur pellentesque massa eu nulla consequat sed porttitor arcu porttitor.</p>
                        <p>Consectetur sum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Integer lorem quam, adipiscing condimentum tristique vel.</p>
                    </div>

                </div>
            </div>
        </section>
{% endblock %}