{% extends "base.html" %}

{% block content %}


<section class="page-title parallax bg-img-1">
    <div class="page-title-content">
        <div class="container">
            <div class="col-sm-12 text-center white">
                <h1>Login Now!</h1>
                <hr class="separator">
                <h5 class="subheading">Start showing your condolences!</h5>
            </div>
        </div>
    </div>
</section>
<section class="pt100 pb90">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="contact col-md-6">
                <div id="message">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {{ message | safe }}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                {{ alert | safe }}
                <!-- Contact Form will be functional only on your server. Upload to your server when testing. -->
                <form method="post" name="loginform" id="loginform">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input name="email" type="email" id="email" placeholder="Your Email*"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input name="password" type="password" id="password" placeholder="Your Password*"/>
                    </div>
                    <input type="submit" class="submit btn btn-md btn-primary" id="submit" value="Login" />
                </form>
            </div>
        </div>
    </div>
</section>
<button>
    <fb:login-button scope="public_profile,email,name" onlogin="sendTokenToServer();">
        <a href="javascript:sendTokenToServer()">Login With Facebook</a>
    </fb:login-button>
</button>

<div id="result"></div>


<script type="text/javascript" src="/static/js/fbconnect.js"></script>

{% endblock %}