{% extends "base.html" %}

{% block content %}
<section class="cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="subheading">Profile</h5>
            </div>
            <div class="col-md-12">
                <div class="cart-item">
                    <div class="item-image-container">
                    {% if user.picture is not none %}
                        <a href="#"><img src="{{user.picture}}" class="img-responsive" alt="{{user.name}}"></a>
                    {% else %}
                        <a href="#"><img src="/static/img/shop/5.jpg" class="img-responsive" alt="{{user.name}}"></a>
                    {% endif %}
                 </div>
                 <div class="item-details">
                    <h5><strong>{{user.name}}</strong></h5>
                    {% if user.member_since is not none %}
                        <h6>Member since {{user.member_since}}</h6>
                    {% endif %}
                    <a href="#" class="item-action move-to-wishlist"><i class="ion-email"></i> {{user.email}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="subheading">Obituary Listing(s)</h5>
            </div>
             {% if posts|length > 0 %}
                <div class="blog-grid blog-columns cbp" id="blog-grid">

                {% for post in posts %}
                    <div class="cbp-item wander lifestyle">
                        <div class="post-date">
                            <h4 class="month">{{post.d_tod}}</h4>
                        </div>
                        <a href="/post/{{post.id}}" class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{post.picture}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-desc"><i class="ion-android-more-horizontal"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="blog-thumb-desc">
                            <a class="link-to-post" href="blog-post-carousel.html"><h4>{{post.d_name}}</h4></a>
                            <p class="blog-post-categories">
                                <span><i class="ion-ios-pricetags-outline"></i></span>
                                <a href="#">{{post.d_age}}</a>
                            </p>
                            <p class="excerpt">{{post.obituary}}</p>
                            <a class="read-more-link btn-appear" href="/post/{{post.id}}"><span>Read More <i class="ion-android-arrow-forward"></i></span></a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="blog-grid">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 no-listing">
                        <h5>You have no listing!</h5>
                         <a href="#" class="btn btn-lg btn-ghost btn-circle btn-appear"><span>Start listing<i class="ion-plus"></i></span></a>
                    </div>
                    <div class="col-md-3"></div>

                </div>
            {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}